@charset "utf-8";

img, object, embed, video {
    max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
    width: 100%;
}

@font-face {
    font-family: Russo One;
    src: url(../fonts/playout/RussoOne-Regular.ttf);
}

@font-face {
    font-family: Droid;
    src: url(../fonts/playout/DroidSans.ttf);
}

.playout-body {
    font-family: Droid, sans-serif;
    background-image: url(../img/playout/background.jpg);
    /*background-size: cover;*/
    background-position: center;
    background-position: top;
    color: #ffffff;
}

.playout-body .nav li {
    display: inline;
    position: relative;
    font-size: 21px;
}

.playout-body .nav a {
    padding: 10px;
    color: #000000;
}

.playout-body .nav a:hover {
    text-decoration: none;
    color: #ffffff;
}

.playout-body .nav {
    text-align: right;
    margin-top: 20px;
}

.playout-body .playout-header {
    padding-bottom: 6%;
    padding-top: 6%;
}

.playout-body .playout-content {
    /*margin-top: 20px;*/
    /*padding-left: 20px;*/
    /*margin-bottom: 40px;*/
}

.playout-body .playout-content h1 {
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    font-family: Russo One, sans-serif;
}

.playout-body .playout-content p {
    font-size: 16px;
    padding-left: 40px;
}

.playout-body .prizes {
    background-image: url(../img/playout/frame1.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 13%;
    padding-bottom: 17%;
    margin-bottom: 20px;
}

.playout-body .prizes h2 {
    padding: 10px;
    text-align: center;
    color: #000000;
    font-family: Russo One, sans-serif;
    font-size: 24px;
}

.playout-body .prizes p {
    padding: 10px;
    text-align: center;
    color: #000000;
    font-size: 21px;
}

.playout-body .buycontent {
    background-image: url(../img/playout/frame2.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 13%;
    padding-bottom: 17%;
    margin-bottom: 20px;
}

.playout-body .buycontent h2 {
    padding: 10px;
    text-align: center;
    color: #000000;
    font-family: Russo One, sans-serif;
    font-size: 24px;
}

.playout-body .buycontent p {
    padding: 10px;
    text-align: center;
    color: #000000;
    font-size: 21px;
}

.playout-body .footer {
    margin-top: 20px;
    padding-top: 10px;
    background-color: #000000;
    text-align: center;
}

.playout-body .promotionalinfo {
    padding-top: 2%;
    padding-bottom: 2%;
}

@media all and (min-width: 1024px) {
    .playout-header img {
        width: 100%;
    }

}

.playout-body .playout-content {
    color: black;
    margin: 0;
}

.playout-body .container {
    padding-right: 5em;
    padding-left: 5em;
}

.playout-body .modal {
    color: black;
}

.playout-body .content_row {
    cursor: pointer;
}

@media all and (min-width: 650px) and (max-width: 950px) {
    .playout-body .nav a {
        font-size: 21px;
    }

    .playout-body .playout-content h1 {
        font-size: 26pt;
    }

    .playout-body .buycontent h2 {
        font-size: 18px;
    }

    .playout-body .buycontent p {
        font-size: 14px;
    }

    .playout-body .prizes h2 {
        font-size: 18px;
    }

    .playout-body .prizes p {
        font-size: 14px;
    }

    .playout-body .buycontent {
        background-image: url(../img/playout/frame2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 13%;
        padding-bottom: 17%;
        margin-bottom: 20px;
    }

    .playout-body .prizes {
        background-image: url(../img/playout/frame2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 13%;
        padding-bottom: 17%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 480px) and (max-width: 650px) {
    .playout-body .nav a {
        font-size: 18px;
    }

    .playout-body .playout-content h1 {
        font-size: 21pt;
    }

    .playout-body .playout-header img {
        width: 135%;
        align-content: left;
    }

    .playout-body .buycontent h2 {
        font-size: 16px;
    }

    .playout-body .buycontent p {
        font-size: 14px;
    }

    .playout-body .prizes h2 {
        font-size: 16px;
    }

    .playout-body .prizes p {
        font-size: 14px;
    }

    .playout-body .buycontent {
        background-image: url(../img/playout/frame2.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 13%;
        padding-bottom: 17%;
        margin-bottom: 20px;
    }

    .playout-body .prizes {
        background-image: url(../img/playout/frame2.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 13%;
        padding-bottom: 17%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .playout-body .nav a {
        background-color: #000000;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .playout-body .nav a:hover {
        color: #b02429;
    }

    .playout-body .maincontent {
        background-color: rgba(0, 0, 0, .6);
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .playout-body .nav li {
        display: block;
        position: relative;
        font-size: 18px;
        margin-top: 10px;
    }

    .playout-body .playout-content h1 {
        font-size: 18pt;
        padding-left: 20px;
    }

    .playout-body .playout-content p {
        padding-left: 20px;
    }

    .playout-body .playout-content {
        padding-left: 0px;
    }

    .playout-body .playout-header img {
        min-width: 175%;
    }

    .playout-body .playout-header {
        padding-bottom: 0px;
    }

    .playout-body .buycontent h2 {
        font-size: 16px;
    }

    .playout-body .buycontent p {
        font-size: 14px;
    }

    .playout-body .prizes h2 {
        font-size: 16px;
    }

    .playout-body .prizes p {
        font-size: 14px;
    }

    .playout-body .buycontent {
        background-image: url(../img/playout/frame2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 13%;
        padding-bottom: 17%;
        margin-bottom: 20px;
    }

    .playout-body .prizes {
        background-image: url(../img/playout/frame2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 13%;
        padding-bottom: 17%;
        margin-bottom: 20px;
    }
}