
/*
 * COOL LITTLE SPIN ANIMATION CLASS FOR SPINNERS
 */
.fa-spin-custom, .glyphicon-spin {
	-webkit-animation: spin 1000ms infinite linear;
	animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.connet-small-link {
	font-size:10pt;
}

.connet-box-to-button {
	cursor:pointer !important;
	border:1px solid white !important;
}

.connet-box-to-button:hover
{
	border:1px solid #3c5d6d !important;
}

.connet-box-to-button .box-header .box-title {
	cursor:pointer !important;
}