<div class="modal fade" id="edit_client_modal" tabindex="-1" role="dialog" aria-labelledby="EditContentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <button id="modal_x_button" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="EditContentLabel">{{ modal.title }}</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <!-- panel body -->
                <div id="edit_client">
                    <input type="hidden" value="{{ content.id }}" id="contentId"/>
                    <p id="CampaignModalDescription">{{ modal.description }}</p>
                    <div class="form-group">
                        <label for="inputCampaignDescription">Description</label>
                        <textarea rows="3" class="field span12 form-control" id="inputContentText" maxlength="200" placeholder="The content text...">{{ content.content_text }}</textarea>
                    </div>
                </div>
            </div>

            <!-- button bar -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn_static_width" data-dismiss="modal">Close</button>

                {% if content.id == 'new' %}

                {% else %}
                <button type="button" class="btn btn-danger btn_static_width" id="modal_delete_button">
                    <span class="glyphicon glyphicon-trash"></span>
                    {{ modal.delete_button_title }}
                </button>
                {% endif %}

                <button type="button" class="btn btn-primary btn_static_width" id="modal_save_button">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    {{ modal.save_button_title }}
                </button>
            </div>
        </div>
    </div>
</div>