
<aside class="right-side">
    <div class="playout-body">

        {#<div class="container">#}
            {#<div class="nav">#}
                {#<div class="row">#}
                    {#<div class="col-xs-12 col-md-12">#}
                        {#<ul>#}
                            {#<li><a href="index.html">Home</a></li>#}
                            {#<li><a href="terms.html">Terms & Conditions</a></li>#}
                            {#<li><a href="contact.html">Contact Us</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        <div class="header">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <img src="../img/playout/logo.png" alt="PlayOut">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="playout-content">
                {#<div class="maincontent">#}
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#stats">Stats</a></li>
                    <li><a href="#content">Content</a></li>
                    <li><a href="#menu2">Menu 2</a></li>
                </ul>

                <div class="tab-content">
                    <div id="stats" class="tab-pane fade in active">
                        <div id="stats_content">
                            <div class="container-fluid" id="stats_inner_container">
                                <div class=" panel panel-info">
                                    <div class="panel-title">
                                        <div style="margin:0.5em";>
                                            <div class="h3">
                                                <i class="glyphicon glyphicon-stats"></i>
                                                USSD Sessions - Stats
                                            </div>
                                        </div>
                                    </div>
                                    <p>To refresh the chart, and show data of another day, select the day, and click reload.</p>


                                    <div class="panel-body">
                                        <div class="box box-primary">
                                            <div class="box-header">

                                                {# WIP #}
                                                <div class="btn-toolbar" style="margin:0.5em">
                                                    <div class="btn-group">
                                                        {#<input id="reportrange" type="text" name="datefilter" class="form-control" value="{{ startdate }}" />#}

                                                        <div id="reportrange" class="select form-control" onmouseover="" style="cursor: pointer;">
                                                            <i class="fa fa-calendar fa-lg"></i>
                                                            <span id="daterange_label">{{ startdate }}</span>
                                                            <b class="caret"></b>
                                                        </div>
                                                    </div>
                                                    <div class="btn-group">
                                                        <button type="button" id="refresh_stats1" class="btn btn-info">
                                                            <i class="glyphicon glyphicon-refresh"></i>
                                                            Reload
                                                        </button>
                                                    </div>

                                                </div>
                                                {# edn WIP #}

                                            </div>
                                            <hr>

                                            <div class="box-body table-responsive">
                                                <canvas id="ussd_stats1" width="400" height="400"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="content" class="tab-pane fade">
                        <div id="ussd_content">

                        </div>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Menu 2</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                </div>
                {#</div>#}
                {#<div class="promotionalinfo">#}
                    {#<div class="row">#}
                        {#<div class="col-xs-12 col-md-6">#}
                            {#<div class="prizes">#}
                                {#<h2>Monthly prizes include:</h2>#}
                                {#<p>iPhone 6<br>#}
                                    {#R1100 Vodacom Airtime Voucher<br>#}
                                    {#R500 Shopping Voucher</p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-xs-12 col-md-6">#}
                            {#<div class="buycontent">#}
                                {#<h2>How to buy content:</h2>#}
                                {#<p>Dial *120*OUT# (*120*688#) <br> – R1.67/20seconds<br>#}
                                    {#Content will be displayed on screen. </p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<p>Winners will be notified immediately if they have been awarded instant airtime.</p>#}
                {#<p>To enter the monthly draw, users will need to follow the prompts within the USSD menus.</p>#}
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <p>2016 © BlackBarrel.</p>
            </div>
        </div>

    </aside>
</div>
