<div class="container-fluid" id="stats_inner_container">
    <div class=" panel panel-info">
        <div class="panel-title">
            <div style="margin:0.5em";>
                <div class="h3"><i class="glyphicon glyphicon-envelope"></i>{{ table_title }}</div>
            </div>
        </div>


        <div class="panel-body">
            <div class="box box-primary">
                <div class="box-header">
                    <div style="margin:0.5em";>
                        <p>You can use the button below to add a row. Click on a row to edit the message or delete the row</p>
                        <button type="button" id="add_row" class="btn btn-success">
                            <i class="glyphicon glyphicon-plus"></i>
                            Add row
                        </button>
                        <button type="button" id="refresh_table" class="btn btn-info">
                            <i class="glyphicon glyphicon-refresh"></i>
                            Refresh
                        </button>
                    </div>
                    <hr>

                    {#<h3 class="box-title"></h3>#}
                </div>

                <div class="box-body table-responsive">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
