<div class="container-fluid" id="ussd_inner_container">
    <div class=" panel panel-info">
        <div class="panel-title">
            <div style="margin:0.5em";>
                <div class="h3">
                    <i class="glyphicon glyphicon-envelope"></i>
                    {{ table_title }}
                </div>
            </div>
        </div>


        <div class="panel-body">
            <div class="box box-primary">
                <div class="box-header">
                    <div style="margin:0.5em";>
                        <p>You can use the buttons below to add a row or refresh the table. Click on a row to edit or delete the row.</p>
                        <button type="button" id="add_row" class="btn btn-success">
                            <i class="glyphicon glyphicon-plus"></i>
                            Add row
                        </button>
                        <button type="button" id="refresh_table" class="btn btn-info">
                            <i class="glyphicon glyphicon-refresh"></i>
                            Refresh
                        </button>
                    </div>
                    <hr>

                    {#<h3 class="box-title"></h3>#}
                </div>
                <div class="box-body">
                    <div role="grid" class="dataTables_wrapper form-inline" id="example2_wrapper">

                        <table class="table table-bordered table-hover dataTable" id="ussd_content_table" aria-describedby="example2_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="ID: activate to sort column descending">ID
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1"
                                    colspan="1" aria-label="Content: activate to sort column ascending">Content text
                                </th>
                            </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">ID</th>
                                    <th rowspan="1" colspan="1">Content text</th>
                                </tr>
                            </tfoot>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {% for row in data %}

                               <tr class="{{ cycle(['even', 'odd'], loop.index0) }} content_row" data-content-id="{{ row.id }}">
                                   <td class="  sorting_1">{{ row.id }}</td>
                                   <td class=" ">{{ row.content_text }}</td>
                               </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
